.blue-section {
    background-color: var(--primary);
    padding: 40px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}
.blue-section .image {
    width: 180px;
    height: 70px;
    margin-bottom: 40px;
}
.blue-section .title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}
.blue-section .feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.blue-section .feature-list {
    list-style: none;
    padding: 0;
}
.blue-section .feature-list li {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
}
.blue-section .feature-list li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.blue-section .partners {
    width: 100%;
}
.blue-section .partners img {
    height: 80px;
    width: 100%;
    object-fit: fill;
}