body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.card-custom {
    border-radius: 10px;
    position: relative;
    background: white;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.radio-container {
    display: flex;
    align-items: center;
    padding: 25px;
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.radio-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Ensure the radio-custom is an accurate circle in all devices */
.radio-custom {
    display: inline-block;
    width: 24px; /* Adjust width */
    height: 24px; /* Adjust height */
    border: 2px solid #D9DDE0;
    border-radius: 50%; /* Ensure accurate circle */
    position: relative;
    margin-right: 20px;
}

.radio-custom::after {
    content: '';
    display: block;
    width: 12px; /* Adjust width */
    height: 12px; /* Adjust height */
    border-radius: 50%; /* Ensure accurate circle */
    background: #0040C3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.radio-container input[type="radio"]:checked~.radio-custom {
    border-color: #0040C3;
    background: #ffffff;
}

.radio-container input[type="radio"]:checked~.radio-custom::after {
    opacity: 1;
}

.payment-option-title {
    font-size: 1.562rem; /* fs-25 */
    font-weight: 500;
    color: #505050;
    margin-bottom: 0;
}
.payment-option-subtitle {
    margin-top: 10px;
    font-size: 1rem; /* fs-16 */
    color: #9A9A9A;
}

.payment-option-subtitle ul {
    margin: 0;
}

.payment-option-subtitle li {
    list-style-type: disc;
}

.coupon-div {
    margin-bottom: 20px;
}
.coupon-code {
    border-radius: 0;
    background: rgba(120, 164, 254, 0.06);
    color: white;
    font-size: 17px;
    padding: 15px;
}
.coupon-code::placeholder {
    color: white;
}
.coupon-code:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    outline: 0;
    box-shadow: none;
}
.coupon-div .error-message {
    color: yellow;
}

.order-details {
    background-color: #0040c3;
    background-image: url('../../../storage/frontend/order-details-background.svg');
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 15px;
    padding: 30px;
    color: white;
    height: 100%;
    margin: auto;
}

.order-details h3 {
    color: #FFF;
    font-size: 1rem; /* fs-16 */
    font-weight: 300;
}

.order-details h1 {
    font-size: 2.438rem; /* fs-39 */
    font-weight: 500;
}

.order-details .total-amount {
    font-size: 2.438rem; /* fs-39 */
    font-weight: 500;
    text-align: right;
    color: white;
}

.order-details .title {
    font-size: 1.25rem; /* fs-20 */
    font-weight: 300;
}

.order-details .section-subtitle {
    font-size: 0.812rem; /* fs-13 */
    font-weight: 300;
}

.order-details .PNE-level {
    color: #FFF;
    font-size: 1.125rem; /* fs-18 */
    font-weight: 500;
}

.line {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10px 0;
}

.page-title {
    color: var(--Colors-Neutral, #0E0E0E);
    font-family: Poppins;
    font-size: 2.188rem; /* fs-35 */
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.radio-container input[type="radio"]:checked~.radio-custom~div {
    border-color: #0040C3;
}

.radio-container input[type="radio"]:checked~.radio-custom~div .payment-option-title,
.radio-container input[type="radio"]:checked~.radio-custom~div .payment-option-subtitle {
    color: #0040C3;
}

.radio-container input[type="radio"]:checked~.radio-custom~.card-custom {
    border-color: #0040C3;
    /* Blue color */
}

.additional-option {
    text-align: center;
    margin-bottom: 35px;
}

input[type="radio"][name="paymentMethod"][value="oneTimePayment"]:checked~.additional-option {
    display: block;
}

@media (max-width: 768px) {
    .radio-custom {
        width: 18px; /* Adjust width */
        height: 18px; /* Adjust height */
    }

    .radio-custom::after {
        width: 9px; /* Adjust width */
        height: 9px; /* Adjust height */
    }

    .payment-option-title {
        font-size: 1.375rem; /* fs-22 */
    }

    .payment-option-subtitle {
        font-size: 0.875rem; /* fs-14 */
    }

    .coupon-code {
        font-size: 15px;
    }

    .order-details h1 {
        font-size: 2.188rem; /* fs-35 */
    }

    .order-details h3 {
        font-size: 0.875rem; /* fs-14 */
    }

    .order-details .total-amount {
        font-size: 2.188rem; /* fs-35 */
    }

    .order-details .title {
        font-size: 1.125rem; /* fs-18 */
    }

    .order-details .section-subtitle {
        font-size: 0.75rem; /* fs-12 */
    }

    .order-details .PNE-level {
        font-size: 1.125rem; /* fs-18 */
    }

    .page-title {
        font-size: 2.188rem; /* fs-35 */
    }
}

@media (max-width: 576px) {
    .radio-container {
        width: 100%; /* Increase width */
        padding: 20px; /* Adjust padding */
    }

    .radio-custom {
        width: 16px; /* Adjust width */
        height: 16px; /* Adjust height */
        border-radius: 50%; /* Ensure accurate circle */
    }

    .radio-custom::after {
        width: 8px; /* Adjust width */
        height: 8px; /* Adjust height */
    }

    .payment-option-title {
        font-size: 1.25rem; /* fs-20 */
    }

    .payment-option-subtitle {
        font-size: 0.75rem; /* fs-12 */
    }

    .order-details h1 {
        font-size: 1.875rem; /* fs-30 */
    }

    .order-details h3 {
        font-size: 0.75rem; /* fs-12 */
    }

    .order-details .total-amount {
        font-size: 1.875rem; /* fs-30 */
    }

    .order-details .title {
        font-size: 1rem; /* fs-16 */
    }

    .order-details .section-subtitle {
        font-size: 0.625rem; /* fs-10 */
    }

    .order-details .PNE-level {
        font-size: 1rem; /* fs-16 */
    }

    .page-title {
        font-size: 1.875rem; /* fs-30 */
    }
}


@media (max-width: 1024px) {
    .radio-custom {
        width: 20px; /* Adjust width */
        height: 20px; /* Adjust height */
    }

    .radio-custom::after {
        width: 10px; /* Adjust width */
        height: 10px; /* Adjust height */
    }
}

.information-box {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 183, 0, 0.06);
    margin-top: 10px;
    font-weight: 500;
}

.information-box p {
    margin: 0;
    color: #FFB700;
    font-size: 1rem; /* fs-16 */
    font-weight: 500;
    line-height: 140%;
}

.information-box img {
    margin-right: 15px;
    vertical-align: middle;
}

#pay-now-radio:checked~.order-details .pay-now-button {
    display: block;
}

.pay-now {
    display: block;
    width: 100%;
    background: white;
    font-size: 1.25rem; /* fs-20 */
    font-weight: 500;
    line-height: 30px;
    transition: all 0.3s;
}

.pay-now:hover {
    background-color: black;
    color: white;
    transition: all 0.3s;
}