@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;600&family=Poppins:wght@400;500;600;700&display=swap');

@import url("../../frontend/css/navbar.css");
@import url("../../frontend/css/footer.css");


/* Common styles */
    * {
        font-family: "Poppins", sans-serif;
    }
    :root {
        --primary: #0040c3;
        --white: white;
        --black: black;
        --hover: #07399b;
        --hover_white: #e6e6e6;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 0;
    }
    a, a:hover {
        text-decoration: none;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--primary);
    }
    .btn-close-custom {
        position: absolute;
        top: 16px;
        right: 16px;
    }
/* Common styles */


.page {
    padding-top: 9%;
}
.heading {
    font-size: 42px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 16px;
}
.sub-heading {
    font-size: 22px;
    color: var(--black);
    margin-bottom: 16px;
}
.text-heading {
    margin-bottom: 16px;
}
.text-heading, .text-heading p, .text-heading ul, .text-heading li, .text-heading a {
    font-size: 20px;
    color: var(--black);
}
.text-heading a {
    text-decoration: underline;
}
.text-content {
    margin-bottom: 16px;
}
.text-content, .text-content p, .text-content ul, .text-content li, .text-content a {
    font-size: 18px;
    color: var(--black);
}
.text-content a {
    text-decoration: underline;
}
.blue-button {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    transition: all 0.3s;
}
.blue-button:hover {
    background-color: var(--hover);
    transition: all 0.3s;
}
.other-button {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
    transition: all 0.3s;
}
.other-button:hover {
    color: var(--hover);
    transition: all 0.3s;
}
.other-button .icon {
    width: 22px;
    transition: all 0.3s;
}
.other-button:hover > .icon {
    transform: translateX(5px);
    transition: all 0.3s;
}
.white-button {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
    background-color: var(--white);
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    transition: all 0.3s;
}
.white-button:hover {
    background-color: var(--hover_white);
    color: var(--black);
    transition: all 0.3s;
}
.other-white-button {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    transition: all 0.3s;
}
.other-white-button:hover {
    color: var(--hover_white);
    transition: all 0.3s;
}
.other-white-button .icon {
    width: 22px;
    transition: all 0.3s;
}
.other-white-button:hover > .icon {
    transform: translateX(5px);
    transition: all 0.3s;
}
.section-margin-bottom {
    margin-bottom: 60px;
}