.navbar {
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 20px;
}
.navbar .navbar-nav {
    align-items: center;
}
.navbar .logo {
    height: 45px;
}
.navbar .nav-item {
    font-size: 18px;
    margin: 0 10px;
}
.navbar .dropdown .nav-item {
    margin: 0;
    padding: 0 15px;
}
.navbar .nav-link {
    color: var(--black);
}
.navbar .nav-link:hover {
    color: var(--primary);
}
.navbar .nav-link.active {
    color: var(--primary);
}
.navbar .navbar-button {
    font-size: 18px;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    transition: all 0.3s;
}
.navbar .navbar-button:hover {
    background-color: var(--hover);
    transition: all 0.3s;
}
.navbar .dropdown-menu {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.navbar .dropdown-item {
    padding: 8px 5px;
    font-size: 16px;
}
.navbar .dropdown:hover > .dropdown-menu {
    display: block;
    transform: translateX(-30%);
}
.navbar .dropdown-menu .dropdown-toggle::after {
    transform: rotate(270deg);
}
.navbar .nav-item.secondary:hover > .dropdown-menu {
    display: block;
    transform: translateX(81%) translateY(-51%);
}
.navbar .flag-dropdown {
    width: 25px;
    height: 18px;
    filter: drop-shadow(0px 1.665px 8.324px #B8BAC1);
}
.navbar .flag {
    width: 25px;
    height: 18px;
}
.navbar .language-text {
    font-size: 14px;
    margin-left: 7px;
}
.navbar .language-dropdown {
    left: -25%;
}
.navbar .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.navbar .cart-number {
    font-size: 12px;
    position: absolute;
    top: -15%;
    left: 50%;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--white);
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}