.container-main {
    padding: 30px;
    background-color: #F7F6FB;
    border: 1px solid #e0eaff;
    border-radius: 15px;
}
.nav-pills {
    margin-bottom: 30px;
}
.nav-pills .nav-link {
    font-size: 20px;
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 0;
    border-radius: 0;
}
.nav-pills .nav-link.active {
    background-color: #072d7b;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #fdfdfd;
    border: 0.84px solid #c9dbfe;
    border-radius: 47px;
    padding: 20px 30px;
    margin-bottom: 30px;
}
.search-bar img {
    margin-right: 10px;
}
.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #969696;
    background-color: #fdfdfd;
}
.certificate-list {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    gap: 30px;
}
.certificate-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}
.certificate-header .title {
    font-size: 20px;
    font-weight: 500;
    color: #0e0e0e;
}
.certificate-header .download-button {
    font-size: 16px;
    color: #1F9254;
    text-decoration: none;
    cursor: pointer;
}
.certificate-header .download-button i {
    font-size: 20px;
    -webkit-text-stroke: 0.5px;
    margin-left: 10px;
}
.certificate-issued {
    font-size: 16px;
    color: #0e0e0e;
    margin-bottom: 0;
    font-weight: 500;
}
.certificate-issued span {
    font-weight: 500;
    font-size: 14px;
    color: #0040C3;
}

.cec-points {
    background-color: #d9d202;
    color: black;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 10px 25px;
}
.cec-point-request {
    text-decoration: none;
    background-color: #0040C3;
    color: white;
    padding: 10px 25px;
    transition: all 0.3s;
    border: none;
}
.cec-point-request:hover {
    background-color: #023190;
    transition: all 0.3s;
}
.table-container {
    overflow-x: auto;
    white-space: nowrap;
}
.table-container::-webkit-scrollbar {
    height: 10px;
}
.table-container::-webkit-scrollbar-track {
    background: #dedede;
    border-radius: 5px;
}
.table-container::-webkit-scrollbar-thumb {
    background-color: #0040C3;
    border-radius: 5px;
}
.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #083287;
    cursor: pointer;
}
.table th {
    font-size: 15px;
    color: #444444;
    padding: 15px;
}
.table td {
    font-size: 14px;
    padding: 15px;
}
.modal-content {
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.form-control {
    border-radius: 0;
    height: 50px;
    font-size: 13px;
    color: black;
}
form .asterisk {
    color: rgb(221, 5, 5);
    margin-left: 3px;
}
form .form-label {
    color: #2D3748;
    font-size: 15px;
}