# Ignore everything by default
*
!.gitignore

# Include everything in the frontend folder
!/frontend/
!/frontend/**

# Ignore everything else in the backend folder
/backend/**
/backend/common/*
/backend/common/*.png
/backend/common/*.jpg
/backend/common/*.jpeg

# Re-include the sidebar folder to override the previous ignore rule
!/backend/sidebar/
!/backend/sidebar/**