# Ignore everything by default
*

# Include everything in the frontend folder
!/frontend/
!/frontend/**

# Include specific items in the backend folder
!/backend/
!/backend/sidebar/
!/backend/sidebar/**

# Include images with a dot in their name in the backend folder
# !/backend/*.*